@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Rasmussen.Models.IGridComponent>

<section class="section programs-grid">
    <div class="grid-container">
        <div class="grid-x grid-padding-y">
            <div class="cell">
                <header class="section-header">
                    <h1 class="section-title-primary">@Editable(g => g.Header)</h1>
                    <p class="section-lead-in">@Editable(g => g.SubHeader)</p>
                </header>
            </div>
            <div class="cell">
                <div class="programs-grid grid-x small-up-1 medium-up-2 large-up-3">
                    @Html.Sitecore().Placeholder("contentcards")
                </div>
                <div class="cell">
                    <aside class="section-aside">
                        <h3 class="section-title-tertiary">@Editable(g => g.FooterTitle)</h3>
                        <p>@Editable(g => g.FooterText)</p>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>