@using Rasmussen.Models
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ISearchWizard>

<section class="section search-degree-wizard">
    <div class="grid-container">
        <div class="grid-x align-center align-middle">
            <div class="cell small-12 medium-tall-5">
                <div class="search-degree-wizard-content">
                    <h3 class="section-title-quaternary">@Editable(s => s.TopLabel)</h3>
                </div>
            </div>
            <div class="cell small-12 medium-6 medium-tall-7">
                <div class="search-degree-wizard-content">
                    <label arial-label="Select your preferred degree type">
                        <select>
                            @foreach (ISelectionItem sItem in Model.TopDropdowns)
                            {
                                <option value="@sItem.Key">@sItem.Text</option>
                            }
                        </select>
                    </label>
                </div>
            </div>
            <div class="cell small-1">
                <div class="search-degree-wizard-content">
                    <h3 class="section-title-quaternary">@Editable(s => s.BottomLabel)</h3>
                </div>
            </div>
            <div class="cell small-12 medium-7">
                <div class="search-degree-wizard-content">
                    <label arial-label="Select your preferred area of study">
                        <select>
                            @foreach (ISelectionItem sItem in Model.BottomDropdowns)
                            {
                                <option value="@sItem.Key">@sItem.Text</option>
                            }
                        </select>
                    </label>
                </div>
            </div>
            <div class="cell small-12 medium-tall-4">
                <div class="grid-x search-degree-wizard-cta">
                    <button type="button" class="button secondary">@(Model.Link != null ? Model.Link.Text : "Find my program")</button>
                </div>
            </div>
        </div>
    </div>
</section>